@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');


.green {
  /* float: center; */
  margin-top: 6rem;
  width: 330px; 
  /* padding-top: 10%; */
  font: 40px/330px 'Bangers', cursive;
  /* font-family: 'Bangers', cursive; */
  text-transform: uppercase;
  letter-spacing: 1px;
  color: black;
  text-align: center;
  justify-content: center;
  font-weight: 900;
  background: rgb(159,133,35);
  background: linear-gradient(90deg, rgba(159,133,35,1) 1%, rgba(255,231,135,1) 48%, rgba(159,133,35,1) 100%);
  border-radius: 50%;
  animation: shadow-pulse1 3s infinite;
  display: inline-block;
  vertical-align: middle;
  align-items: center;

  /* display: grid;
  justify-content: center;
  align-items: center; */
}

@keyframes shadow-pulse1
{
  0% {
    box-shadow: 0 0 0 0px #FFE787;
  }
  50% {
    box-shadow: 0 0 0 15px #FFE787;
  }
  100% {
    box-shadow: 0 0 0 0px #FFE787;
  }
}

@keyframes shadow-pulse-big
{
  0% {
    box-shadow: 0 0 0 0px #FFE787;
  }
  50% {
    box-shadow: 0 0 0 15px #FFE787;
  }
  100% {
    box-shadow: 0 0 0 0px #FFE787;
  }
}