/* .gbody {
  width: 100%;
  height: 700px;
  background-color: black;
  text-align: center;
} */


.green {
  float: center;
  margin-top: 7rem;
  width: 330px; 
  /* padding-top: 10%; */
  font: 25px/330px "Open Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  text-align: center;
  font-weight: 900;
  background: green;
  border-radius: 50%;
  animation: shadow-pulse1 3s infinite;
  display: inline-block;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}

@keyframes shadow-pulse1
{
  0% {
    box-shadow: 0 0 0 0px green;
  }
  50% {
    box-shadow: 0 0 0 15px green;
  }
  100% {
    box-shadow: 0 0 0 0px green;
  }
}

@keyframes shadow-pulse-big
{
  0% {
    box-shadow: 0 0 0 0px green;
  }
  50% {
    box-shadow: 0 0 0 15px green;
  }
  100% {
    box-shadow: 0 0 0 0px green;
  }
}