.profileBody {
    width: 100%;
    height: 900px;
    background-color: #202020;
    text-align: center;
}

.profileIcon {
 
    color: white;
    position: absolute;
    left: -10px;
}

#profileText {
    color: white;
}

.btn {
    margin-top: -1rem;
    font-size: 19px;
    padding: 5px 20px;
    border: 0;
    background-color: #c0392b;
    color: #fff;
    border-radius: 3px;
    transition: all 250ms ease-in-out;
    cursor: pointer;
    &:hover {
      background-color: black;
    }
    &:focus {
      outline: none;
    }
  }
  
